.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #302921 0%, #5E401E 133.33%);
  border-radius: 10px;
  border: 2px solid #8E3901;
  max-width: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.verticalSeparator {
  width: clamp(0px, calc(2 / 390 * 100vw), calc(2 / 390 * 600px));
  background-color: #8E3901;
  flex-shrink: 0;
}

.horizontalSeparator {
  height: clamp(0px, calc(2 / 390 * 100vw), calc(2 / 390 * 600px));
  background-color: #8E3901;
  flex-shrink: 0;
}
