.root {
  :global {
    .MuiBackdrop-root {
      background-color: #0B2E03B2;
      backdrop-filter: blur(16px);
    }

    .MuiPaper-root {
      margin: 0;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      //max-width: clamp(0px, calc(330 / 390 * 100vw), calc(330 / 390 * 600px));
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      //justify-content: center;
      //height: unset !important;
      //min-height: unset !important;
    }
  }
}

.titleImage {
  position: relative;
  width: 105%;
  left: -2.5%;
}

.contentContainer {
  margin-top: clamp(calc(-30 / 390 * 600px), calc(-30 / 390 * 100vw), 0px);
  padding: clamp(0px, calc(45 / 390 * 100vw), calc(45 / 390 * 600px))
    clamp(0px, calc(25 / 390 * 100vw), calc(25 / 390 * 600px))
    clamp(0px, calc(25 / 390 * 100vw), calc(25 / 390 * 600px))
    clamp(0px, calc(25 / 390 * 100vw), calc(25 / 390 * 600px));
  // border-radius: clamp(0px, calc(40 / 390 * 100vw), calc(40 / 390 * 600px));
  border-radius: 40px;
  background-image: url("/3Care/eng/gamify/candy-crush/images/instructions-bg.png"),linear-gradient(180deg, #FFD5A1 0%, #E5AA62 95.38%);
  background-size: cover;
  min-height: clamp(300px, calc(300 / 390 * 100vw), calc(300 / 390 * 600px))
}

.animationContainer {
  img {
    width: 100%;
    height: auto;
    margin-bottom: clamp(0px, calc(10 / 390 * 100vw), calc(10 / 390 * 600px));
    margin-top: clamp(0px, calc(10 / 390 * 100vw), calc(10 / 390 * 600px));
  }
}

.contentText {
  font-size: clamp(
    0px,
    calc(16 / 390 * 100vw),
    calc(16 / 390 * 600px)
  ) !important;
}

.brownText {
  color: #8A3B01;
}

.playButton {
  position: relative;
  margin-top: clamp(0px, calc(10 / 390 * 100vw), calc(10 / 390 * 600px));
  width: clamp(230px, calc(230 / 390 * 100vw), calc(230 / 390 * 600px));
  left: 50%;
  transform: translateX(-50%);

  img {
    width: 100%;
    height: auto;
  }
}

@keyframes animePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.titleText {
  font-size: clamp(
    0px,
    calc(20 / 390 * 100vw),
    calc(20 / 390 * 600px)
  ) !important;
  font-weight: 700 !important;
}

.instructionsGiftNumSample {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.instructionSwiperPagination{
  text-align: center;
  margin-top: 0.5em;
  span {
    background-color: #9A9A9A;
    opacity: 1;
  }
}

.instructionSwiperPaginationBulletActive {
  background-color: #CEA272 !important;
  width: 15px;
  border-radius: 20px;
}

.playNowButton {
  width: clamp(230px, calc(230 / 390 * 100vw), calc(230 / 390 * 600px));
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5em;

  img {
    width: 100%;
    height: auto;
  }
}