.root {
  :global {
    .MuiBackdrop-root {
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(16px);
    }

    .MuiDialog-container {
      align-items: flex-start;
    }

    .MuiPaper-root {
      margin: 0;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      padding-top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
      padding-bottom: clamp(
        0px,
        calc(20 / 390 * 100vw),
        calc(20 / 390 * 600px)
      );
      max-width: clamp(0px, calc(360 / 390 * 100vw), calc(360 / 390 * 600px));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: unset !important;
      min-height: 100% !important;
    }
  }
}

.checkInDayBox {
  width: 90%;
  margin-top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
  margin-bottom: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
}

.button {
  width: clamp(230px, calc(230 / 390 * 100vw), calc(230 / 390 * 600px));
  
  margin-top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
  margin-bottom: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));

  & + .button {
    margin-top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
  }

  img {
    width: 100%;
    height: auto;
  }
}

.titleText {
  font-size: clamp(
    0px,
    calc(28 / 390 * 100vw),
    calc(28 / 390 * 600px)
  ) !important;
  z-index: 2;
  color: white;
  font-weight: 700 !important;
}

.contentText {
  font-size: clamp(
    0px,
    calc(14 / 390 * 100vw),
    calc(14 / 390 * 600px)
  ) !important;
  z-index: 2;
  color: white;
  width: 80%;
}