.root {
  :global {
    .MuiBackdrop-root {
      background-color: #0B2E03B2;
      backdrop-filter: blur(16px);
    }

    .MuiDialog-container {
      align-items: flex-start;
    }

    .MuiPaper-root {
      margin: 0;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      padding-top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
      padding-bottom: clamp(
        0px,
        calc(20 / 390 * 100vw),
        calc(20 / 390 * 600px)
      );
      max-width: clamp(0px, calc(360 / 390 * 100vw), calc(360 / 390 * 600px));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: unset !important;
      min-height: 100% !important;
    }
  }
}

.controlsContainer {
  margin-top: clamp(0px, calc(15 / 390 * 100vw), calc(15 / 390 * 600px));
  margin-bottom: clamp(0px, calc(8 / 390 * 100vw), calc(8 / 390 * 600px));
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controlButton {
  top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
  right: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
  width: clamp(50px, calc(50 / 390 * 100vw), calc(50 / 390 * 600px));
  height: clamp(50px, calc(50 / 390 * 100vw), calc(50 / 390 * 600px));
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.titleImage {
  position: relative;
  width: clamp(0px, calc(117 / 390 * 100vw), calc(117 / 390 * 600px));
  margin-bottom: clamp(0px, calc(0 / 390 * 100vw), calc(0 / 390 * 600px));
}

.titleText {
  font-size: clamp(
    0px,
    calc(32 / 390 * 100vw),
    calc(32 / 390 * 600px)
  ) !important;
  z-index: 2;
  color: #CEA272;
  font-weight: 700 !important;
  text-align: center;
}

.resultContainer {
  margin-top: clamp(0px, calc(10 / 390 * 100vw), calc(10 / 390 * 600px));
  margin-bottom: clamp(0px, calc(10 / 390 * 100vw), calc(10 / 390 * 600px));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(0px, calc(40 / 390 * 100vw), calc(40 / 390 * 600px));
  position: relative;
  width: clamp(0px, calc(320 / 390 * 100vw), calc(320 / 390 * 600px));

  p {
    font-size: clamp(0px, calc(24 / 390 * 100vw), calc(24 / 390 * 600px));
    line-height: clamp(0px, calc(24 / 390 * 100vw), calc(24 / 390 * 600px));
    text-align: center;

    & + p {
      margin-top: clamp(0px, calc(8 / 390 * 100vw), calc(8 / 390 * 600px));
    }
  }
}

.gamePointContainer {
  margin-top: clamp(0px, calc(14 / 390 * 100vw), calc(14 / 390 * 600px));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0px, calc(6 / 390 * 100vw), calc(6 / 390 * 600px));

  img {
    width: clamp(0px, calc(50 / 390 * 100vw), calc(50 / 390 * 600px));
    height: auto;
  }

  p {
    color: #cea272;
    font-size: clamp(0px, calc(48 / 390 * 100vw), calc(48 / 390 * 600px));
    line-height: clamp(0px, calc(48 / 390 * 100vw), calc(48 / 390 * 600px));
    font-weight: 600;
  }
}

.button {
  width: clamp(230px, calc(230 / 390 * 100vw), calc(230 / 390 * 600px));

  & + .button {
    margin-top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
  }

  img {
    width: 100%;
    height: auto;
  }
}

.randomPrizeButton {
  width: clamp(230px, calc(230 / 390 * 100vw), calc(230 / 390 * 600px));
  margin-bottom: clamp(0px, calc(36 / 390 * 100vw), calc(36 / 390 * 600px));

  img {
    width: 100%;
    height: auto;
  }
}

.giftNumberContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));

  .giftBoxIcon {
    width: clamp(0px, calc(42 / 390 * 100vw), calc(42 / 390 * 600px));
    height: auto;
    margin-right: 0.5em;
  }

  .giftNumText {
    font-family: var(--font-montserrat) !important;
    font-weight: 700 !important;
    font-size: clamp(
      32px,
      calc(32 / 390 * 100vw),
      calc(32 / 390 * 600px)
    ) !important;
    color: #FFE384;
  }
}

.scoreNumText {
  font-weight: 700 !important;
  color: #FFE384;
}


.resultContainerBg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.infoTopContainer {
  margin-top: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
}

.infoBottomContainer {
  margin-bottom: clamp(0px, calc(20 / 390 * 100vw), calc(20 / 390 * 600px));
}